@media only screen and (max-width: 767px) {
  .card {
    width: 60%;
    height: 55vh;
    border-radius: 0;
    margin: 0.2em 0;
  }

  .card img {
    width: 100%;
    height: 40%;
    padding: 0;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .username {
    margin-bottom: 0;
  }

  .card a,
  .card .buttons {
    padding: 0;
  }
}
