.container-manuales{
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.manual{
    text-align: center;
}

.portada{
    background-color: #FF3737;
    height: 550px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}