@media only screen and (max-width: 767px) {
  .adventures {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .adventures_list {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .filters {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    height: 10vh;
    margin-top: 0.5em;
  }

  .filters > *:not(:last-child) {
    margin-right: 1em;
  }

  .ordenAventuras {
    justify-self: end;
    font-size: 15px;
    flex-basis: 66%;
    margin: 0;
  }

  .esOficial {
    margin: 0.5em 0;
    flex-basis: 33%;
  }

  .searchbox {
    width: 80%;
    margin: 1.5em;
    margin-bottom: 1em;
  }
}
