.adventures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchbox {
    margin: 3em auto auto;
    display: block;
    width: 70em;
    height: 2em;
    border: 1px solid gray;
    border-radius:0.5em;
}

.adventures_list {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    width: 75em;
}

.card {
    list-style-type: none;
    width: 20em;
    height: 30em;
    border: 0.15em solid #C5C5C5;
    border-radius: 0.5em;
    margin: 1em;
}

.card img {
    width: 100%;
    height: 40%;
    padding: 0;
    object-fit: contain;
    border-bottom: 0.15em solid #C5C5C5;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card > title {
    display: block;
    font-weight: bold;
}

.username {
    margin-bottom: 2em;
    font-weight: bold;
    font-style: italic;
}

.card * {
    padding: 0 1em;
}

.card span {
    display: flex;
    justify-content: space-evenly;
}

.card a {
    margin: 0;
    padding: 0;
}

.likes .likesactive {
    cursor: pointer;
    color: #74777d;
    background-color: transparent;
    outline: none ;
  }  
  
.likes:hover {
      color: #282a2e;
      background-color:#74777d;
  }
    
.likesactive, .likesactive:hover {
      color: #1b81f5;
  }
  
.likespan {
    margin-left: 6px;
    font-family: 'MedievalSharp', cursive;
  }

.filters {
    display: grid;
    justify-items: center;
}

.ordenAventuras {
    justify-self: end;
    font-size: 15px;
    width: 90%;
    height: 140%;
}