@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-up-r.css');
.adventures {
  display: flex;
}

.searchbox {
  margin: 3em auto auto;
  width: 70em;
  height: 2em;
  border: 1px solid gray;
  border-radius: 0.5em;
}

.adventures_list_aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-basis: 85%;
}

.adventures_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em auto;
  padding: 0;
}

.filters_aside {
  flex-basis: 15%;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 14em;
}

.uploadPDF {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadPDFIcon {
  flex-basis: 20%;
  height: 3em;
  padding: 0.5em;
  padding-right: 0.7em;
  background-color: grey;
  border-radius: 0.5em;
  object-fit: contain;
  cursor: pointer;
}

.uploadPDF > button {
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #282a2e;
  font-size: large;
  cursor: pointer;
}

.filters > span {
  margin-bottom: 1.2em;
  width: 80%;
}

.ordenAventuras {
  justify-self: end;
  font-size: 15px;
  width: 90%;
  margin-bottom: 1.2em;
}
