  .likes {
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 25px;
    color: #74777d;
    background-color: transparent;
    outline: groove;
  }  
  
  .likes:hover {
      color: #282a2e;
  }
    
  .active, .active:hover {
      color: #1b81f5;
  }
  
  span {
    margin-left: 6px;
  }