.characters {
    display: flex;
    flex-wrap: wrap;
    width: 50em;
    margin: 5em auto;
}

.select {
    display: flex;
    width: 100%;
}

.characters .select button {
    flex-basis: 25%;
    height: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b6b6b6;
    color: #333;
    cursor: pointer;
}

.characters .select button.active {
    flex-basis: 30%;
    transform: scaleY(1.15);
    transform-origin: bottom;
    background-color: #FF3737;
    color: #FFF;
}

.characters * {
    text-decoration: none;
}

.characters *:link, .characters *:visited {
    color: black;
}

.character_card {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    text-align: center;
    border: 0.15em solid grey;
}

.character_card {
    margin-bottom: 0.8em;
}

.character_card img {
    max-width: 113px;
    min-height: 160px;
}

.character_card > span {
    margin: 0 auto;
    max-width: 30em;
    max-height: 20em;
}

.biography {
    margin-top: 0.5em;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2em;
    max-height: 3.6em;
}

.characterRow{
    display: flex;
    width: 100%;
}

.charButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8em;
    width: 3.5em;
    padding: 0 0.5em;
    gap: 1em;
    margin-top: 2em;
}

.edit{
    color: white;
    background-color: #FF3737;
    border: none;
    border-radius: 5px;
    width: 3em;
    height: 3em;
    cursor: pointer;
}