.menu, .menu .InNav {
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu > div {
    position: absolute;
    left: 10em;
    height: 100%;
}


 .menu:hover > div {
    cursor: pointer;
} 

.menu .despegable {
    position: absolute;
    background-color: #212121;
    width: 15em;
    min-height: 3em;
    height: auto;
    top: 3.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    align-items: center;
}

.menu > *, .menu > .despegable > *{
    color: white;
}

.menu > div > span {
    flex-basis: 35%;
}

.menu > div > img {
    max-width: 3em;
    border-radius: 50%;
}

.btnCerrarSesion {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1em;
    font-family: 'MedievalSharp', cursive;
}
