header {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #FF3737;
}

.navbar > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1em;
    padding: 0.2em 1em; 
}

.menu {
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu:first-child {
    position: absolute;
    left: 10em;
    height: 100%;
}

.menu:hover > div {
    visibility: visible;
}

.menu > div {
    position: absolute;
    visibility: hidden;
    background-color: #212121;
    width: 15em;
    height: 20em;
    top: 3.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.menu > div > * {
    color: white;
}

.menu > span {
    flex-basis: 35%;
}

.menu > img {
    max-width: 3em;
    border-radius: 50%;
}
