.character_sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

#character_name {
    border-radius: 0.5em;
    font-size: 1.1em;
}

#character_level {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    text-align: center;
    margin-left: 1em;
}

.alignments, .races, .classes, .stats2 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.alignments > h2, .races > h2, .classes > h2 {
    flex-basis: 100%;
}

.alignments > span, .stats2 > span {
    flex-basis: 33%;
    margin: 0.7em 0;
}

.races > span {
    flex-basis: 25%;
    margin: 0.7em 0;
}

.classes > span {
    flex-basis: 25%;
    margin: 0.7em 0;
}

.description {
    border: 1px solid black;
    min-width: 44.5em;
    min-height: 20em;
    max-height: 20em;
    margin-bottom: 1em;
    padding: 0.5em;
    line-height: 1.3em;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

.stats2 > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats2 > span > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

textarea {
    min-width: 44.5em;
    min-height: 20em;
    margin-bottom: 3em;
}
