.login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login > span {
    margin: 0.5em;
}

.login > span > input {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 0.3em;
    padding: 0.1em;
    font-family: 'Cinzel Decorative', serif;
    font-size: 15px;
    color: grey;
    outline: none;
}

#botonInicioSesion {
   color: white;
   border: 0px;
   background-color: RGBA(0,0,0,0);
   text-decoration: underline;
   font-family: 'MedievalSharp', cursive;
   cursor: pointer;
   font-size: 1em;
}
